<div class="col-md-8">
    <div class="tim-container" style="min-height: 2000px;">
        <div class="tim-row" id="inputs-row">
            <h4>Edit Order</h4>
            <legend></legend>
            <div class="row">
                <ng-form name="myForm3">
                    <div class="col-md-6">
                        <input type="text" class="form-control" ng-model=order.trackingID disabled /><br>
                        <input name="orderID" type="number" class="form-control" ng-model=order.orderID required ng-click="showme2=true"/>
                        <div role="alert" ng-show="showme2">
                            <span class="error" ng-show="myForm3.orderID.$error.required">
                                Order ID is Empty!
                            </span>
                        </div><br>
                        <input name="address" type="text" class="form-control" ng-model=order.street required ng-click="showme3=true"/>
                        <div role="alert" ng-show="showme3">
                            <span class="error" ng-show="myForm3.address.$error.required">
                                Address is Empty!
                            </span>
                        </div><br>
                        <input name="state" type="text" class="form-control" ng-model=order.state required ng-click="showme4=true"/>
                        <div role="alert" ng-show="showme4">
                            <span class="error" ng-show="myForm3.state.$error.required">
                                State is Empty!
                            </span>
                        </div><br>
                        <input name="zipCode" type="number" class="form-control" ng-model=order.zipCode required ng-minlength="5" ng-maxlength="5"/>
                        <div role="alert">
                            <span class="error" ng-show="myForm3.zipCode.$error.minlength">
                                ZIPCODE must be 5 numbers!
                            </span>
                            <span class="error" ng-show="myForm3.zipCode.$error.maxlength">
                                ZIPCODE must not be more than 5 numbers!
                            </span>
                        </div><br>
                        <button value="CreateOrder" class="btn btn-info" ng-disabled="myForm3.$invalid" ng-click="UpdateOrder(order)">Update Order</button>
                    </div>
                </ng-form>
            </div>
        </div>
    </div>
</div>